@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="mouseTable" style="margin-left:-30px; max-width:1000px;">

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $('#mouseTable').jtable({
                title: 'All Mouses',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Manufacturer ASC', //Set default sorting
                actions: {
                    listAction: '/Admin/Mouse/GetAll',
                    createAction: '/Admin/Mouse/Create',
                    updateAction: '/Admin/Mouse/Edit',
                    deleteAction: '/Admin/Mouse/Delete'
                },
                fields: {
                    ID: {
                        key: true,
                        list: false,
                    },
                    Manufacturer: {
                        title: 'Manufacturer',
                        width: '10%'
                    },
                    Model: {
                        title: 'Model',
                        width: '20%'
                    },
                    DPI: {
                        title: 'DPI',
                        width: '13%'
                    },
                    Type: {
                        title: 'Type',
                        width: '13%'
                    },
                    Price: {
                        title: 'Price',
                        width: '5%'
                    },
                    AvailableQuantity: {
                        title: 'Quantity',
                        width: '15%',
                    }
                }
            });
            $('#mouseTable').jtable('load');
        });
    </script>
}