@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table">

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $('#table').jtable({
                title: 'All Cases',
                actions: {
                    listAction: '/Admin/Cases/GetAll',
                    createAction: '/Admin/Cases/Create',
                    updateAction: '/Admin/Cases/Update',
                    deleteAction: '/Admin/Cases/Delete'
                },
                fields: {
                    Id: {
                        key: true,
                        list: false
                    },
                    Manufacturer: {
                        title: 'Manufacturer',
                        width: '15%'
                    },
                    Model: {
                        title: 'Model',
                        width: '45%'
                    },
                    FormFactor: {
                        title: 'Form Factor',
                        width: '30%'
                    },
                    Price: {
                        title: 'Price',
                        width: ''
                    },
                    Quantity: {
                        title: 'Quantity',
                        width: '',
                        create: false,
                        edit: false
                    }
                }
            });
            $('#table').jtable('load');
        });
    </script>
}