@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="speakersTable" style="margin-left:-30px; max-width:1000px;">

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $('#speakersTable').jtable({
                title: 'All Speakers',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Manufacturer ASC', //Set default sorting
                actions: {
                    listAction: '/Admin/Speakers/GetAll',
                    createAction: '/Admin/Speakers/Create',
                    updateAction: '/Admin/Speakers/Edit',
                    deleteAction: '/Admin/Speakers/Delete'
                },
                fields: {
                    ID: {
                        key: true,
                        list: false,
                    },
                    Manufacturer: {
                        title: 'Manufacturer',
                        width: '10%'
                    },
                    Model: {
                        title: 'Model',
                        width: '20%'
                    },
                    Configuration: {
                        title: 'Configuration',
                        width: '13%'
                    },
                    MaxVolume: {
                        title: 'Max Volume',
                        width: '13%'
                    },
                    Price: {
                        title: 'Price',
                        width: '5%'
                    },
                    AvailableQuantity: {
                        title: 'Quantity',
                        width: '15%',
                    }
                }
            });
            $('#speakersTable').jtable('load');
        });
    </script>
}