@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="keyboardTable" style="margin-left:-30px; max-width:1000px;">

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $('#keyboardTable').jtable({
                title: 'All Keyboards',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Manufacturer ASC', //Set default sorting
                actions: {
                    listAction: '/Admin/Keyboard/GetAll',
                    createAction: '/Admin/Keyboard/Create',
                    updateAction: '/Admin/Keyboard/Edit',
                    deleteAction: '/Admin/Keyboard/Delete'
                },
                fields: {
                    ID: {
                        key: true,
                        list: false,
                    },
                    Manufacturer: {
                        title: 'Manufacturer',
                        width: '14%'
                    },
                    Model: {
                        title: 'Model',
                        width: '25%'
                    },
                    BackLight: {
                        title: 'BackLight',
                        width: '10%'
                    },
                    Type: {
                        title: 'Type',
                        width: '14%'
                    },
                    Price: {
                        title: 'Price',
                        width: '8%'
                    },
                    AvailableQuantity: {
                        title: 'Quantity',
                        width: '10%',
                    }
                }
            });
            $('#keyboardTable').jtable('load');
        });
    </script>
}