@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="margin-top:15px;">
    <tr>
        <td class="col-sm-3" style="text-align:center;">
            <a href='@Url.Action("Index", "CPU")'>
                <img src="~/Images/Products/IndexPage/cpu.png" alt="Image"/>
                <p style="font-family: Arial Black; padding-top:15px;"><strong>CPUs</strong></p>
            </a>
        </td>
        <td class="col-sm-3" style="text-align:center;">
            <a href='@Url.Action("Index", "Case")'>
                <img src="~/Images/Products/IndexPage/case.jpg" style="height:256px; width:256px;" alt="Image" />
                <p style="font-family: Arial Black; padding-top:15px;"><strong>Cases</strong></p>
            </a>
        </td>
        <td class="col-sm-3" style="text-align:center;">
            <a href='@Url.Action("Index", "Cooler")'>
                <img src="~/Images/Products/IndexPage/cooler.jpg" style="height:256px; width:256px;" alt="Image" />
                <p style="font-family: Arial Black; padding-top:15px;"><strong>Coolers</strong></p>
            </a>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>