@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Ajax.BeginForm("Ajax", "BeginForm", new AjaxOptions { UpdateTargetId="test", InsertionMode = InsertionMode.Replace, HttpMethod="POST" })
{

}

<div id="test">

</div>