@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="headphonesTable" style="margin-left:-30px; max-width:1000px;">

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $('#headphonesTable').jtable({
                title: 'All Headphones',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Manufacturer ASC', //Set default sorting
                actions: {
                    listAction: '/Admin/Headphones/GetAll',
                    createAction: '/Admin/Headphones/Create',
                    updateAction: '/Admin/Headphones/Edit',
                    deleteAction: '/Admin/Headphones/Delete'
                },
                fields: {
                    ID: {
                        key: true,
                        list: false,
                    },
                    Manufacturer: {
                        title: 'Manufacturer',
                        width: '14%'
                    },
                    Model: {
                        title: 'Model',
                        width: '25%'
                    },
                    Impendance: {
                        title: 'Impendance',
                        width: '10%'
                    },
                    MaxVolume: {
                        title: 'Max Volume',
                        width: '14%'
                    },
                    Type: {
                        title: 'Type',
                        width: '14%'
                    },
                    Price: {
                        title: 'Price',
                        width: '8%'
                    },
                    AvailableQuantity: {
                        title: 'Quantity',
                        width: '10%',
                    }
                }
            });
            $('#headphonesTable').jtable('load');
        });
    </script>
}